[submodule "external/entt"]
	path = external/entt
	url = git@github.com:ArnCarveris/entt.git
	branch = experimental/extensions
[submodule "external/draft/entt/hierarchy"]
	path = external/draft/entt/hierarchy
	url = git@gist.github.com:f88abc33993fb0d2c5790c6ac018cf7b.git
[submodule "external/draft/entt/animation"]
	path = external/draft/entt/animation
	url = git@gist.github.com:494eaba3bf396ecedaf3a1674fb7a2bf.git
[submodule "external/draft/entt/vm"]
	path = external/draft/entt/vm
	url = https://gist.github.com/ArnCarveris/fe0743a1023908f97b252949af4dafe8
